@keyframes bgmove {
    0% {background-position: 0 0;}
    100% {background-position: 1000px 0;}
}



body {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    appearance: none;
    -webkit-appearance: none;
}

canvas {
    mix-blend-mode: darken;
}

section.wrapper {
    display: flex;
    min-height: 100vh;
    padding-top: 48px;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

div.pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #d4d4d4;
    background-image: url(IIIXL_PIXELS.jpeg);
    background-size: cover;
    background-repeat: none;
}

div.info-container {
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  
  div.info-container img {
    width: 100%;
    max-height: 95vh;
    filter: invert(98%) sepia(1%) saturate(1146%) hue-rotate(195deg) brightness(120%) contrast(100%);
  }

  div.tickets form {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 10;
    background-color: none;
    padding: 24px 0;
  }

  div.tickets input {
    width: 100%;
    padding: 20px 0;
    border-radius: 0;
    color: #fff;
    background-color: #de1215;
    border: 10px solid #f4c600;
    font-size: 72px;
    letter-spacing: -2%;
    text-transform: uppercase;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 900;
    font-style: normal;
    pointer-events: none;
  }

  div.footer {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  img.ig {
    height: 80px;
  }

  img.barcode {
    height: 80px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(81deg) brightness(103%) contrast(101%);
  }
  
  
  @media screen and (max-width: 615px) {
    div.tickets input {
        font-size: 36px;
        border: 6px solid #f4c600;

    }

    div.tickets form {
      padding: 24px 0 0 0;
    }
  }